{% extends 'base.html' %}
 {% block content %}
 {% load staticfiles %}
 <div class="row">
{% for aplicado in aplicados %}
                         <div id="getid{{ aplicado.aplico.id }}div" style="display:inline;" class="col-md-12">
                             <div class="card card-stats">
                                 <div class="card-header" data-background-color="red">
                                     <i class="material-icons">person</i>
                                 </div>
                                 <div class="card-content">
                                     <h3 class="card-title">{{aplicado.aplico.titulo}}</h3>
                                     <p class="category">{{aplicado.aplico.descripcion}}</p>

                                 </div>
                                 <div class="card-footer">
                                     <div class="stats">
                                         <button id="getid{{ aplicado.aplico.id }}" value="{{ aplicado.aplico.id }}" class="btn btn-danger btn-round" onclick="myFunction{{ aplicado.aplico.id }}()" data-target=myFuction2()>Retirar Aplicacion</button>
                                     </div>
                                 </div>
                             </div>
                         </div>




                         <div id="delete{{aplicado.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <center><h4 class="modal-title">Resultados <strong>{{aplicado.usuario.first_name}} {{aplicado.usuario.last_name}} #ID {{aplicado.pk}}</strong> </h4></center>
                                          </div>
                                          <div class="modal-body">
                                          <form id="msform" role="form" method="POST" class="form-material" enctype="multipart/form-data">
                                          {% csrf_token %}
                                            <center>
                                            {%if aplicado.usuario.userp.picture %}
                                            <img src="{{aplicado.usuario.userp.picture.url}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                            {% else %}
                                            <img src="{% static 'assets/img/user.png' %}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                                            {% endif %}
                                            <h3 class="media-heading"><strong>{{app.usuario.first_name}} {{app.usuario.last_name}}</strong></h3>
                                            <span><strong>Aplico para: </strong></span>
                                                <span class="label label-success">{{aplicado.aplico.titulo}}</span>
                                            </center>

                                            <hr>
                                            <center>
                                            <h2>{{aplicado.comentario}}</h2>

                                            <br>
                                            {%if aplicado.entrevista%}
                                             <span class="label label-success"></span><p class="text-left"><strong><center><a href="{{aplicado.entrevista.url}}"><span class="label label-success">Resultado Entrevista</span></a></center></strong>
                                            {%else%}
                                             <span class="label label-success"></span><p class="text-left"><strong><center><a href=""><span class="label label-danger">No tiene entrevista registrada</span></a></center></strong>
                                            {%endif%}

                                            </center>
                                          </div>


                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal">Cerrar</button>
                                          </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  <script type="text/javascript">

                                    function myFunction{{ aplicado.aplico.id }}(p1) {
                                    var ids = document.getElementById("getid{{ aplicado.aplico.id }}").value;
                                    console.log(ids)
                                    $.ajax({
                                    data: {'id': ids , csrfmiddlewaretoken: '{{ csrf_token }}'},

                                    url: '{% url 'remover'  %}',
                                    type: 'POST',
                                    success : function(data) {
                                            swal({
                                                  title: "Estas seguro?",
                                                  text: "Eliminaras una aplicacion!",
                                                  type: "error",
                                                  showCancelButton: true,
                                                  confirmButtonColor: "#DD6B55",
                                                  confirmButtonText: "Si, Borralo!",
                                                  closeOnConfirm: false
                                                },
                                                function(){
                                                  swal("Borrado!", "Su aplicacion a sido removida.", "warning");
                                                  document.getElementById('getid{{ aplicado.aplico.id }}div').style.display = "none";

                                                });


                                    },
                                    error : function(message) {
                                           console.log(message);
                                    }
                                     });

                                    }
                                 </script>
 {% endfor %}
</div>
{% endblock %}
