{% extends 'base.html' %} {% load staticfiles %} {% load widget_tweaks %} {% block content %}
<div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="red">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Candidatos Aplicados</h4>
                                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Modulo de busqueda avanzada vacantes</button>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Foto</th>
                                                    <th>Nombre</th>
                                                    <th>Edad</th>
                                                    <th class="text-right">Carrera</th>
                                                    <th class="text-right">Ciudad</th>
                                                    <th class="text-right">Universidad</th>
                                                    <th class="text-right">Aplico</th>
                                                    <th class="text-right">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for app in apps %}
                                             
                                                <tr>
                                                    <td>  <div class="user"><div class="photo">
                                                    {% if app.usuario.userp.picture %}
                                                    <img style="width:50px !important;height:45px !important;" src="{{app.usuario.userp.picture.url}}" alt="user-img"> {% else %}
                                                    <img style="width:50px !important;height:45px !important;" src="{% static 'assets10/img/default-avatar.png' %}" alt="user-img"> {% endif %}
                                                    </div>  </div> </td>

                                                    <td>{{app.usuario.first_name}} {{app.usuario.last_name}}</td>
                                                    <td>{{app.usuario.userp.edad}}</td>
                                                    <td class="text-right">{{app.usuario.userp.carrera}}</td>
                                                    <td class="text-right">{{app.usuario.userp.localidad}}</td>
                                                    <td class="text-right">{{app.usuario.userp.universidad}}</td>
                                                    <td class="td-actions text-right">
                                                        {{app.aplico.titulo}}
                                                    </td>
                                                    <td class="text-right">
                                                        <a class="btn btn-danger btn-round" href="#{{app.id}}modal" data-toggle="modal"  data-target="#{{app.id}}modal"><i class="material-icons">info</i> Ver Candidato</a>
                                                        
                                                    </td>
                                                </tr>

                                                <!-- Modal -->
                                                <div class="modal fade" id="{{app.id}}modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Vacante ID {{app.id}} - Ultimo Login: {{app.usuario.last_login}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body " id="table">
                                                       
                                                       <div class="card card-profile" >
                                                                        <h5 class="modal-title" ><b> Curriculum Vitae</b></h5>
                                                                         {% if app.usuario.userp.picture %}
                                                                         <img style="width:100px !important;height:100px !important;" src="{{app.usuario.userp.picture.url}}" alt="user-img"> {% else %}
                                                                         <img style="width:100px !important;height:100px !important;" src="{% static 'assets10/img/default-avatar.png' %}" alt="user-img"> {% endif %}
                                                                      
                                                                       <div class="card-content">
                                                                           <h6 class="category text-gray">{{app.usuario.email}}</h6>
                                                                           <h4 class="card-title">{{app.usuario.first_name}} {{app.usuario.last_name}}</h4>
                                                                           <p><b>
                                                                               Datos Generales
                                                                           </b></p>

                                                                           <p >
                                                                               Nivel Academico: {{app.usuario.userp.estudio}} 
                                                                           </p>

                                                                           <p >
                                                                               Titulacion Obtenida : {{app.usuario.userp.carrera}} 
                                                                           </p>

                                                                           <p >
                                                                               Area Profesional : {{app.usuario.userp.carrera}} 
                                                                           </p>

                                                                           <p >
                                                                               Area Profesional : {{app.usuario.userp.carrera}} 
                                                                           </p>

                                                                           <p><b>
                                                                               Formacion Academida
                                                                           </b></p>

                                                                            <p >
                                                                               Bachillerato tecnico en administracion
                                                                           </p>

                                                                           <p><b>
                                                                               Experiencia Profesional
                                                                           </b></p>

                                                                           <p >
                                                                               ALTERNAGROUP SRL - DESARROLLADOR WEB
                                                                               CONSTRUCTORA CBP - SOPORTE TECNICO
                                                                               ARSRESERAS - ANALISTA DE DESARROLLO DE APLICACIONES
                                                                           </p>

                                                                           <p><b>
                                                                               Conocimientos Informatica
                                                                           </b></p>

                                                                           <p >
                                                                               WORD EXCEL AUTOCAD
                                                                           </p>

                                                                           <p><b>
                                                                              Cursos y Seminarios
                                                                           </b></p>
                                                                           
                                                                           <p >
                                                                               TECNICO EN INFORMATICA ITLTA
                                                                           </p>

                                                                           <p><b>
                                                                              Idiomas
                                                                           </b></p>

                                                                           <p >
                                                                               Ingles Español
                                                                           </p>

                                                                            <p><b>
                                                                              Comentarios
                                                                           </b></p>

                                                                           <p >
                                                                               Ninguno
                                                                           </p>

                                                                           <p><b>
                                                                              Clasificacion ISCO (OIT)
                                                                           </b></p>

                                                                           <p >
                                                                               Ninguno
                                                                           </p>


                                                                           <a href="/media/CV/1/VICTORIA_V.mpp" class="btn btn-danger btn-round">Ver CV</a> 
                                                                           <button type="button" class="btn btn-danger btn-round" onclick="return xepOnline.Formatter.Format('table',{embedLocalImages : 'true'});" >CV</button>
                                                                       </div>
                                                                   </div>




                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger">Save changes</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Busqueda Avanzada de vacantes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                ...
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

<script src="{% static 'assetsmaterial/js/xepOnline.jqPlugin.js' %}"></script>
{% endblock %}