{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% for app in apps %}
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <i class="material-icons">person</i>
                                </div>
                                <div class="card-content">
                                    <h3 class="category">{{app.usuario.first_name}} {{app.usuario.last_name}}</h3>
                                    <p class="card-title">{{app.usuario.email}}</p>
                                    <p class="card-title">{{app.aplico.titulo}}</p>

                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                      <button type="button" href="#{{app.pk}}" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#delete{{app.id}}"><i class="fa fa-check-square"></i> Ver Resultado</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Modal -->
<div id="delete{{app.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <center><h4 class="modal-title">Procesar Aplicacion <strong>{{app.usuario.first_name}} {{app.usuario.last_name}} #ID {{app.pk}}</strong> </h4></center>
                  </div>
                  <div class="modal-body">
                  <form id="msform{{app.id}}" role="form" method="POST" class="form-material" enctype="multipart/form-data">
                  {% csrf_token %}
                    <center>
                    {%if app.usuario.userp.picture %}
                    <img src="{{app.usuario.userp.picture.url}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    {% else %}
                    <img src="{% static 'assets/img/user.png' %}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    {% endif %}
                    <h3 class="media-heading"><strong><a href="{% url 'user_detail' id=app.usuario.id %}"> {{app.usuario.first_name}} {{app.usuario.last_name}}</a></strong></h3>
                    <span><strong>Aplico para: </strong></span>
                        <span class="label label-success">{{app.aplico.titulo}}</span><p class="text-left"><strong><center>{%if app.usuario.userp.file %}<a href="{{app.usuario.userp.file.url}}"><span class="label label-danger">Ver su CV</span></a>{%else%}<span class="label label-danger">No tiene CV</span>{%endif%}</center></strong>
                    </center>
                    <hr>
                    <center>
                    <br>

                                <div class="form-group">
                                <label>Comentario para el usuario</label>
                                </br>
                                {{app.comentario}}
                                </br>
                                <label>Comentario interno</label>
                                </br>
                                {{app.com_interno}}
                                </div>
                                  {%if app.entrevista%}
                     <span class="label label-success"></span><p class="text-left"><strong><center><a href="{{app.entrevista.url}}"><span class="label label-success">Resultado Entrevista</span></a></center></strong>
                    {%else%}
                     <span class="label label-success"></span><p class="text-left"><strong><center><a href=""><span class="label label-danger">No tiene entrevista registrada</span></a></center></strong>
                    {%endif%}




                    </center>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal">Cerrar</button>


                  </div>
                  </form>
                </div>
              </div>
            </div>
{% endfor %}
{% endblock %}
