{% extends 'base.html' %} {% load staticfiles %} {% load widget_tweaks %} {% block content %} {% load calculate_age %}
<div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="red">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Candidatos Aplicados</h4>
                       

                                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Modulo de busqueda avanzada vacantes</button>
                                        <!-- Modal -->
                                       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                         <div class="modal-dialog modal-lg" role="document">
                                           <div class="modal-content">
                                             <div class="modal-header">
                                               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                               <h4 class="modal-title" id="myModalLabel"><center><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Busqueda Avanzada</center></h4>
                                             </div>
                                             <div class="modal-body">
                                               <form  class="form-horizontal form-material" method="GET" id="role-form">
                                                     


                                                     <div class="form-group">
                                                         <label class="col-sm-2 control-label">Area experiencia</label>
                                                             <div class="col-sm-10">
                                                                  <select name="ar_exp" class="form-control">
                                                                    <option value=""> </option>
                                                                    {% for are in areas %}
                                                                   <option value="{{are.titulo}}">{{are.titulo}}</option>
                                                                   {%endfor%}
                                                                 </select>
                                                             </div>
                                                         </div>
                                                         
                                                     <div class="form-group">
                                                         <label class="col-sm-2 control-label">Area interes</label>
                                                             <div class="col-sm-10">
                                                                  <select name="ar_int" class="form-control">
                                                                   <option value=""> </option>
                                                                   {% for are in areas %}
                                                                   <option value="{{are.titulo}}">{{are.titulo}}</option>
                                                                   {%endfor%}
                                                                 </select>
                                                             </div>
                                                         </div>
                                                     <div class="form-group">
                                                     <label for="email" class="col-sm-2 control-label">Carrera</label>
                                                         <div class="col-sm-10">
                                                             <select name="carrera" class="form-control">
                                                                   <option  selected=""> </option>
                                                                   {% for are in areas %}
                                                                   <option value="{{are.titulo}}">{{are.titulo}}</option>
                                                                   {%endfor%}
                                                                 </select>
                                                         </div>
                                                     </div>
                                                     <div class="form-group">
                                                         <label for="name" class="col-sm-2 control-label">Idioma</label>
                                                         <div class="col-sm-10">
                                                           <input name="idioma" class="form-control" type="text" placeholder="Idiomas para busqueda" />
                                                         </div>
                                                     </div>
                                                       <div class="form-group">
                                                         <label class="col-sm-2 control-label">Edad</label>
                                                             <div class="col-sm-10">
                                                                  <select name="edad" class="form-control">
                                                                   <option  selected=""></option>
                                                                   <option value="18-25"> 18-25 </option>
                                                                   <option value="25-30"> 25-30 </option>
                                                                   <option value="30-35"> 30-35 </option>
                                                                   <option value="35-40"> 35-40 </option>
                                                                   <option value="40+"> 40+ </option>
                                                                  </select>
                                                             </div>
                                                         </div>
                                                      <div class="form-group">
                                                         <label for="name" class="col-sm-2 control-label">Universidad</label>
                                                         <div class="col-sm-10">
                                                           <input name="universidad" class="form-control" type="text" placeholder="Universidad" />
                                                         </div>
                                                     </div>
                                                      <div class="form-group">
                                                         <label class="col-sm-2 control-label">Sexo</label>
                                                             <div class="col-sm-10">
                                                                  <select name="sexo" class="form-control">
                                                                   <option disabled="" selected=""> </option>
                                                                   <option value="Masculino">Masculino</option>
                                                                   <option value="Femenino">Femenino</option>
                                                                 </select>
                                                             </div>
                                                         </div>
                                                          <div class="form-group">
                                                                                     <label class="col-sm-2 control-label">Pais para el que aplica</label>
                                                                                     <div class="col-sm-10">
                                                                                     <select name="pais_apli" class="form-control">
                                                                                           <option value=""> </option>
                                                                                           <option value="Republica Dominicana">Republica Dominicana</option>
                                                                                           <option value="Guatemala">Guatemala</option>
                                                                                           <option value="Nicaragua">Nicaragua</option>
                                                                                           <option value="Honduras">Honduras</option>
                                                                                           <option value="El Salvador">El Salvador</option>
                                                                                           <option value="Trinidad y Tobago">Trinidad y Tobago</option>
                                                                                           <option value="Trinidad y Tobago">Jamaica</option>
                                                                                      </select>
                                                                                     </div>
                                                                                 </div>
                                              </div>
                                             <div class="modal-footer">
                                               <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                               <button type="submit" class="btn btn-danger">Iniciar Busqueda</button>
                                               </form>
                                             </div>
                                           </div>
                                         </div>
                                       </div>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Foto</th>
                                                    <th>Nombre</th>
                                                    <th>Edad</th>
                                                    <th class="text-right">Carrera</th>
                                                    <th class="text-right">Ciudad</th>
                                                    <th class="text-right">Telefono</th>
                                                    <th class="text-right">Aplico</th>
                                                    <th class="text-right">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for app in apps %}
                                             
                                                <tr>
                                                    <td>  <div class="user"><div class="photo">
                                                    {% if app.usuario.userp.picture %}
                                                    <img style="width:50px !important;height:45px !important;" src="{{app.usuario.userp.picture.url}}" alt="user-img"> {% else %}
                                                    <img style="width:50px !important;height:45px !important;" src="{% static 'assets10/img/default-avatar.png' %}" alt="user-img"> {% endif %}
                                                    </div>  </div> </td>

                                                    <td>{{app.usuario.first_name}} {{app.usuario.last_name}}</td>
                                                    <td>{{app.usuario.userp.edad | age}}</td>
                                                    <td class="text-right">{{app.usuario.userp.carrera}}</td>
                                                    <td class="text-right">{{app.usuario.userp.localidad}}</td>
                                                    <td class="text-right">{{app.usuario.userp.telefono}}</td>
                                                    <td class="td-actions text-right">
                                                        {{app.aplico.titulo}}
                                                    </td>
                                                    <td class="text-right">
                                                        <a class="btn btn-danger btn-round" href="#{{app.id}}modal" data-toggle="modal"  data-target="#{{app.id}}modal"><i class="material-icons">info</i> Ver Candidato</a>
                                                        
                                                    </td>
                                                </tr>

                                               


                                                <!-- Modal -->
                                                <div class="modal fade" id="{{app.id}}modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Vacante ID {{app.id}} - Ultimo Login: {{app.usuario.last_login}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body " id="table{{app.id}}">
                                                       
                                                       <div class="card card-profile" >
                                                                        <h5 class="modal-title" ><b> Curriculum Vitae</b></h5>
                                                                         {% if app.usuario.userp.picture %}
                                                                         <img style="width:100px !important;height:100px !important;" src="{{app.usuario.userp.picture.url}}" alt="user-img"> {% else %}
                                                                         <img style="width:100px !important;height:100px !important;" src="{% static 'assets10/img/default-avatar.png' %}" alt="user-img"> {% endif %}
                                                                      
                                                                       <div class="card-content">
                                                                           <h6 class="category text-gray">{{app.usuario.email}}</h6>
                                                                           <h4 class="card-title">{{app.usuario.first_name}} {{app.usuario.last_name}}</h4>
                                                                           <p><b>
                                                                               Datos Generales
                                                                           </b></p>

                                                                           <p >
                                                                               Nivel Academico: {{app.usuario.userp.estudio}} 
                                                                           </p>

                                                                           <p >
                                                                               Titulacion Obtenida : {{app.usuario.userp.carrera}} 
                                                                           </p>

                                                                           <p >
                                                                               Area Interes : {{app.usuario.userp.ar_int}} 
                                                                           </p>

                                                                            <p>
                                                                               Edad :  {{app.usuario.userp.edad | age}} 
                                                                           </p>

                                                                           <p >
                                                                              Sexo :  {{app.usuario.userp.sexo}} 
                                                                           </p>

                                                                           <p><b>
                                                                               Experiencia Profesional
                                                                           </b></p>

                                                                           <p >
                                                                               {{app.usuario.userp.ar_exp}} 
                                                                           </p>
                                                                    

                                                                           <p><b>
                                                                              Idiomas
                                                                           </b></p>

                                                                           <p >
                                                                               {{app.usuario.userp.idioma}}
                                                                           </p>

                                                                        


                                                                           <a href="{{app.usuario.userp.file.url}}" class="btn btn-danger btn-round">Subido por el usuario</a> 
                                                                           <button type="button" class="btn btn-danger btn-round" onclick="return xepOnline.Formatter.Format('table{{app.id}}',{embedLocalImages : 'true'});" >Crear CV</button>
                                                                       </div>
                                                                   </div>




                                                      </div>
                                                      <div class="modal-footer">
                                                        
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>

                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <ul class="pager"> {% if apps.has_previous %} <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>{% endif %}{% if apps.has_next %}<li><a href="?page={{ apps.next_page_number }}">Next</a></li>{% endif %}</ul>
                    


                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Busqueda Avanzada de vacantes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                ...
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger">Save changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

<script src="{% static 'assetsmaterial/js/xepOnline.jqPlugin.js' %}"></script>
{% endblock %}