.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.sidebar .user a, .bootstrap-navbar .user a {
    text-align: center;
    color: #FFFFFF;
    padding: 8px 14px;
    text-align: center;
    display: block;
}
a {
    color: #23CCEF;
}

.sidebar .user, .bootstrap-navbar .user {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    margin-top: 20px;
}

.sidebar .user .photo, .bootstrap-navbar .user .photo {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}
