{% load i18n %}{% autoescape off %}
{% blocktrans %}Recibió este correo electrónico porque solicitó una restablecimiento de contraseña para su cuenta de usuario en ACERH.{% endblocktrans %}

{% trans "Por favor, vaya a la siguiente página y elija una nueva contraseña:" %}
    {% block reset_link %}
        http://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
    {% endblock %}
{% trans "Tu nombre de usuario, por si te has olvidado:" %} {{ user.get_username }}

{% trans "Gracias por usar nuestro sitio!" %}

{% blocktrans %}ACERH!{% endblocktrans %}

{% endautoescape %}